{% from "macros.html" import submit_button %}
{% extends 'base.html' %} {%block title%} Register User {%endblock%} {% block
content %}
<form class="sign-in" method="POST">
  {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
  'hidden' %}
  <p>
    {{ field.label }} {{ field }} {% for error in field.errors %} {{ error }} {%
    endfor %}
  </p>
  {% endfor %}

  <a href="/register" class="btn btn-secondary">Register</a>
  {{submit_button("Login")}}
</form>


{% for msg in get_flashed_messages() %} {{msg}} {% endfor %} {% endblock %}
