{% from "macros.html" import submit_button %}
{% extends 'base.html' %} {%block title%} Register User {%endblock%} {% block
content %}
<form class="register" method="POST">
  {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
  'hidden' %}
  <p>
    {{ field.label }} {{ field }} {% for error in field.errors %} {{ error }} {%
    endfor %}
  </p>
  {% endfor %}

  <a href="/login" class="btn btn-secondary">Login</a>
  {{submit_button("Register")}}
</form>


{% for msg in get_flashed_messages() %}
{{msg}}
{% endfor %}

{% endblock %}
