{% extends 'base.html' %} 
{% from "macros.html" import form_button, anchor %}

{% block content %}

<div class="d-flex justify-content-between">
  <div>
    <div>{{ user.username }}</div>
    <div>{{ user.email }}</div>
    <div>{{ user.first_name }} {{ user.last_name }}</div>
  </div>
  <div>
    <a class="btn btn-secondary" href="/users/{{user.username}}/password"
    >Change Password</a>
    {{form_button("POST", "/users/" + user.username + "/delete", "Delete Account", "danger")}}
    {{ anchor("Logout", "/logout")}}
  </div>
</div>
<hr>
<div>
  <div class="d-flex justify-content-between">
    <h2>Notes</h2>
    {{ anchor("Add New Note", "/users/" + user.username + "/notes/add", "info")}}
  </div>
  <hr>
  {% for note in user.notes %}
  <h4>{{ note.title }}</h4>
  <p> {{ note.content }} </p>
  {{form_button("GET", "/notes/" + note.id|string + "/update", "Update", "info")}}
  {{form_button("POST", "/notes/" + note.id|string + "/delete", "Delete", "danger")}}
  {% endfor %}
</div>

{% for msg in get_flashed_messages() %} {{msg}} {% endfor %} {% endblock %}
