{% extends 'base.html' %} 
{% from "macros.html" import form_button, anchor %}

{% block content %}

<div class="d-flex justify-content-between mt-5">
  <div>
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    <h5>@{{ user.username }}</h5>
    <p>{{ user.email }}</p>
  </div>
  <div>
    {{anchor("Logout", "/logout")}}
    {{form_button("POST", "/users/" + user.username + "/delete", "Delete Account", "danger")}}
    {{anchor("Change Password", "/users/"+user.username+"/password", 'secondary')}}
  </div>
</div>
<div class="mt-5">
  <div class="d-flex justify-content-between">
    <h2>Notes</h2>
    {{ anchor("New", "/users/" + user.username + "/notes/add")}}
  </div>
  <hr>
  {% if user.notes %}
  {% for note in user.notes %}
  <div class="card my-3">
    <div class="card-body">
      <h3 class="card-title">{{ note.title }}</h3>
      <p class="card-text"> {{ note.content }} </p>
    </div>
    <div class="d-flex p-2 justify-content-end">
      {{form_button("GET", "/notes/" + note.id|string + "/update", "Update", "info")}}
      {{form_button("POST", "/notes/" + note.id|string + "/delete", "Delete", "danger")}}
    </div> 
  </div>
  {% endfor %}
  {% else %}
  <div>No notes yet!</div>
  {% endif %}
</div>

{% endblock %}
