{% extends 'base.html' %} {% block content %} You made it!

<ul>
  <li>{{ user.username }}</li>
  <li>{{ user.email }}</li>
  <li>{{ user.first_name }}</li>
  <li>{{ user.last_name }}</li>
</ul>

<div>
  {% for note in user.notes %}
  <h1>{{ note.title }}</h1>
  <p> {{ note.content }} </p>
  <form>
    <button formmethod="get" formaction="/notes/{{note.id}}/update"
      >Update</button
    >
    <button formmethod="post" formaction="/notes/{{note.id}}/delete"
      >Delete</button
    >
  </form>
  {% endfor %}
</div>
<a class="btn btn-primary" href="/users/{{user.username}}/notes/add"
  >Add New Note</a
>
<ul>
  {% if 'username' in session %}
  <li><a href="/logout">Logout</a></li>
  {% endif %}
</ul>

<form>
  <button formmethod="post" formaction="/users/{{user.username}}/delete"
    >Delete</button
  >
</form>
{% for msg in get_flashed_messages() %} {{msg}} {% endfor %} {% endblock %}
