{% from "macros.html" import submit_button %}
{% extends 'base.html' %} {%block title%} Change Your Password {%endblock%} {% block
    content %}
    <h3>Please enter your email</h3>
    <form class="update_note" method="POST">
      {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
      'hidden' %}
      <p>
        {{ field.label }} {{ field }} {% for error in field.errors %} {{ error }} {%
        endfor %}
      </p>
      {% endfor %}
    
      {{ submit_button("Submit")}}
    </form>
    
    {% endblock %}