{% from "macros.html" import submit_button, anchor %}
    {% extends 'base.html' %} {%block title%} Enter Email {%endblock%} {% block
        content %}
        <form class="enter-email mt-5" method="POST">
          <h1>Please Enter Your Email</h1>
          {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
          'hidden' %}
          <div class="mt-3">{{ field.label }} </div>
          <div>
            {{ field }} {% for error in field.errors %} {{ error }} {% endfor %}
          </div>
          {% endfor %}
        
          {{ submit_button("Submit")}}
          {{anchor("Back", '/', 'secondary')}}
        </form>
        
        {% endblock %}

    